/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
div {
    border: solid 5px;
    margin: 5px;
    padding: 5px;
    width: 25%;
    position: fixed;
}

p {
    display: inline-block;
    background-color: #0663ee;
    position: absolute;
    top: 0;
    left: 43%;
}

p a {
    color: #ffffff;
    text-decoration: none;
}

#one {
    border-color: #0663ee;
    bottom: 0;
    right: 0;
}

#two {
    border-color: #0a9e11;
    top: 0;
    right: 0;
}

#three {
    border-color: #faac04;
    top: 0;
    left: 0;
}

#four {
    border-color: #faea04;
    bottom: 0;
    left: 0;
}